/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

 /* Poor Emils normalize */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     background-color: #223440;
 }

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

/* General */

.right {
    float: right;
}

.left {
    float: left;
}

/* Container */

.wrap-all {
    background-color: #CCD9FF;

}

.outer-wrap {
    width: 100%;
    overflow: auto
}


/* Header */

.outer-wrap-header {
    background-color: #FFEBE6;
}

.inner-wrap-header {
    padding: 10px;
}

.region-header-col-1 {
    float: left;
    width: 20%;
}

.site-logo {
    display: none;
    position: absolute;
    top: 40px;
    left: 40px;
}

.site-logo img {
    width: 150px;
}

.site-logo-text {
    font-size: 40px;
}

.site-logo-text a {
    text-decoration: none;
    color: black;
}

.region-header-col-2 {
    width: 60%;
    float: left;
    text-align: center;
}

.rm-navbar {
    position: relative;
    font-size: 1.5em;
    /* line-height: 0; */
}

.my-navbar {
    list-style-type: none;
}

.my-navbar li {
    display: inline;
    padding: 0 10px;
}

.my-navbar li a{
    text-decoration: none;
    color: black;
}

/* Flash */

.inner-wrap-flash {
    max-width: 1100px;
    margin: 0 auto;
}

/* Main */

.inner-wrap-main {
    padding: 30px 0;
    width: 60%;
    margin: 0 auto;
}

.region-main .article h1 {
    font-size: 2em;
    line-height: 1.5;
    border-bottom: 1px solid #666;
    margin-bottom: 20px;
}

.region-main .article p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}

.region-main .article .figure {
    margin-left: 10px;
    margin-bottom: 20px;
}

.region-main .block {
    display: block;
    clear: both;
    width: 80%;
    border: 1px solid black;
    padding: 8px;
    overflow: auto;
    margin: auto;
}

.author-byline {
    line-height: 1.5;
}
.author-byline figure {
    margin-right: 8px;
    margin-bottom: 8px;
}

/* Footer */

.outer-wrap-footer {
    background-color: #223440;
    color: white;
}

.inner-wrap-footer {
    padding: 10px 0;
    width: 60%;
    margin: 0 auto;
}

.footer-column-wrapper {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

.footer-column-x {
    padding: 0 1em 24px 0;
}

.footer-column-1,
.footer-column-2 {
    border-right: 1px solid #666;
}
.footer-column-2,
.footer-column-3 {
    padding-left: 10px;
}

.region-footer > .block {
    padding: 30px 0;
    border-top: 1px solid #666;
    width: 100%;
    text-align: center;
}
