/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
/* General */
/* Header */
.outer-wrap-header {
  background-color: #223440;
}
.inner-wrap-header {
  padding: 10px;
}
.site-logo {
  display: none;
  position: absolute;
  top: 40px;
  left: 40px;
}
.site-logo img {
  width: 150px;
}
.site-logo-text {
  font-size: 40px;
}
.site-logo-text a {
  color: white;
}
.region-header-col-2 {
  text-align: center;
}
/* Navbar */
.rm-navbar {
  font-size: 1.5em;
}
.my-navbar li {
  padding: 0 10px;
}
.my-navbar li a {
  color: white;
  letter-spacing: 2px;
}
.breadcrumb-list ul li a {
  color: #333;
}
.breadcrumb-list ul li::after {
  content: " » ";
}
/* Flash image */
.region-flash img {
  height: 200px;
}
/* Main */
.inner-wrap-main {
  padding: 30px 0;
}
.region-main .article h1 {
  font-size: 2em;
  line-height: 1.5;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}
.region-main .article h2 {
  font-size: 1.5em;
  margin: 20px 0;
}
.region-main .article p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 20px;
}
.region-main .article .figure {
  margin-left: 10px;
  margin-bottom: 20px;
}
/* Byline */
.region-main .block {
  width: 60%;
  border: 1px solid #666;
  padding: 4px;
}
.author-byline {
  line-height: 1.5;
}
.author-byline figure {
  margin: 4px 6px;
}
blockquote {
  border-left: 2px solid #FFEBE6;
  padding-left: 1em;
  margin-left: 0;
  margin-bottom: 24px;
}
.header-anchor {
  display: none;
}
ul.revision-history {
  margin-left: 20px;
  color: #666;
  font-size: 1.2em;
  margin-bottom: 20px;
}
a.revision-history {
  font-size: 0.8em;
}
.figure a img {
  position: relative;
  width: 100%;
}
/* Next and previous buttons */
.next-previous {
  line-height: 1.5;
  font-size: 1.1em;
  overflow: auto;
  margin-bottom: 20px;
}
/* Sidebar */
.wrap-sidebar .block {
  margin-bottom: 30px;
}
.wrap-sidebar .block ul .section-header {
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: 1px solid #666;
  margin: 10px 0;
}
.wrap-sidebar .block ul li:not(.section-header) {
  margin-left: 10px;
}
.wrap-sidebar .block ul {
  font-size: 1.1em;
  line-height: 1.5;
}
.wrap-sidebar .block ul .selected::before {
  content: "»  ";
}
.wrap-sidebar .block h4 {
  background-color: #CCC;
  font-size: 1.2em;
  margin: 20px 0;
}
.wrap-sidebar .block p {
  padding: 0 10px;
}
/* Stylechooser */
.region-main h1 {
  margin-bottom: 20px;
  border-bottom: 1px solid #666;
}
.stylechooser {
  width: 100%;
  margin: 20px auto;
}
.stylechooser fieldset {
  padding: 2%;
  line-height: 1.5;
  text-align: left;
}
/* Flashmessage */
.inner-wrap-flash-message {
  width: 800px;
  margin: 20px auto 0;
}
.flashmessage {
  border: 5px solid transparent;
  border-radius: 5px;
  padding: 0 10px;
  overflow: auto;
}
.flashmessage p {
  margin: 24px 0;
}
.flashmessage.info {
  background-color: lightblue;
  color: #205791;
  border-color: #205791;
}
.flashmessage-icon {
  float: right;
  font-size: 3em;
}
/* Footer */
.outer-wrap-footer {
  background-color: #223440;
  color: white;
}
.inner-wrap-footer {
  padding: 10px 0;
}
.footer-column-wrapper {
  padding: 30px 0;
}
.footer-column-x {
  padding: 0 1em 24px 0;
}
.footer-column-1,
.footer-column-2 {
  border-right: 1px solid #666;
}
.footer-column-2,
.footer-column-3 {
  padding-left: 20px;
}
.region-footer > .block {
  padding: 30px 0;
  border-top: 1px solid #666;
  text-align: center;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #223440;
}
body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #CCD9FF;
  font: 100.01%/1 serif;
}
/* Images */
img {
  max-width: 100%;
}
/* Links */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p a {
  text-decoration: underline;
}
p a:hover {
  color: #33f;
  text-decoration: none;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
.outer-wrap {
  width: 100%;
  overflow: auto;
}
.inner-wrap-header {
  max-width: 100%;
}
.rm-navbar-max {
  display: none;
}
/* Header */
.region-header-col-1 {
  float: left;
  width: 20%;
}
.region-header-col-2 {
  float: left;
  width: 60%;
}
.region-header-col-3 {
  float: left;
  width: 20%;
}
/* Navbar */
.my-navbar li {
  display: inline;
}
.rm-navbar {
  position: relative;
}
/* Flash image */
.inner-wrap-flash {
  max-width: 80%;
  margin: 0 auto;
}
.region-flash img {
  width: 100%;
  position: relative;
  object-fit: cover;
}
/* Breadcrumb */
.inner-wrap-breadcrumb {
  max-width: 70%;
  margin: 10px auto 20px;
}
.breadcrumb-list ul li {
  display: inline;
}
/* Main */
.inner-wrap-main {
  max-width: 70%;
  margin: 0 auto;
}
.region-main {
  width: 100%;
}
.article {
  clear: both;
}
.inner-wrap-main .row {
  display: flex;
  justify-content: space-between;
}
/* Next and previous buttons */
.next,
.previous {
  display: inline;
}
.previous {
  float: left;
}
.next {
  float: right;
}
/* Sidebar */
.region-sidebar-left,
.region-sidebar-right {
  max-width: 30%;
}
.region-sidebar-left {
  margin-right: 5%;
}
.region-sidebar-right {
  margin-left: 5%;
}
/* Byline */
.region-main .block {
  display: block;
  clear: both;
  overflow: auto;
  margin: 0 auto;
}
/* Footer*/
.inner-wrap-footer {
  width: 70%;
  margin: 0 auto;
}
.footer-column-wrapper {
  display: flex;
  justify-content: space-around;
}
.region-footer > .block {
  width: 100%;
}
/* Right and left float */
.right {
  float: right;
}
.left {
  float: left;
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
