/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */

/**
 * Variables
 */

@container-width:   1100px;

/**
 * General layout
 */

 .outer-wrap {
     width: 100%;
     overflow: auto;
 }

.inner-wrap-main {
    padding: 30px 0;
    margin: 0 auto;
    max-width: @container-width;
}

.inner-wrap-main{
    .row {
        display: flex;
        justify-content: space-between;
    }
}
.region-main {
    width: auto;
    margin: 0 auto;
}

.article {
    clear: both;
}

.has-sidebar-left,
.has-sidebar-right {
    float: left;
    display: inline;
    width: 60%;
}

/* Navbar*/
.my-navbar {
    list-style-type: none;
}

.my-navbar li {
    display: inline;
    padding: 0 10px;
}

.my-navbar li a{
    letter-spacing: 2px;
    text-decoration: none;
}

.rm-navbar {
    position: relative;
    font-size: 1.5em;
}

/* Breadcrumb */
.inner-wrap-breadcrumb {
    max-width: @container-width;
    margin: 10px auto 20px;
}

.breadcrumb-list ul {
    list-style-type: none;
}

.breadcrumb-list ul li {
    display: inline;
}

.breadcrumb-list ul li a {
    text-decoration: none;
}

/* Next and previous buttons */

.next-previous {
    line-height: 1.5;
    font-size: 1.1em;
    overflow: auto;
    margin-bottom: 20px;
}

.next,
.previous {
    display: inline;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.previous {
    float: left;
}

.next {
    float: right;
}

/* Sidebar */

.region-sidebar-left,
.region-sidebar-right {
    float: left;
    display: inline;
    width: 30%;
}

.region-sidebar-left {
    margin-right: 5%;
}

.region-sidebar-right {
    margin-left: 5%;
}

.wrap-sidebar .block {
    margin-bottom: 30px;
}

/* Byline */
.region-main .block {
    display: block;
    clear: both;
    width: 80%;
    border: 1px solid #666;
    padding: 8px;
    overflow: auto;
    margin: auto;
}

.author-byline {
    line-height: 1.5;
    figure {
        margin-right: 8px;
        margin-bottom: 8px;
    }
}

/* Footer*/

.inner-wrap-footer {
    padding: 10px 0;
    width: @container-width;
    margin: 0 auto;
}

.footer-column-wrapper {
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
}

/* Right and left float */
.right {
    float: right;
}

.left {
    float: left;
}
